<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Свет в конце -п-а-н-е-л-и- тоннеля</title>
    <link rel="stylesheet" href="../style/styles-window.css">
    <link rel="stylesheet" href="../style/styles-start.css">
    <link rel="stylesheet" href="../style/styles-player.css">
    <link rel="stylesheet" href="../style/style-field.css">
    <link rel="stylesheet" href="../style/styles-modal.css"/>
    <link rel="stylesheet" href="../style/style-card.css"/>
    <link rel="stylesheet" href="../style/style_inventory.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>
<body>
<div class="window">
    <!--стартовое окно-->
    <div id="start" class="field">
        <h1 class="name-game">Свет в конце <s>панели</s> тоннеля</h1>
        <label>
            <input class="name" value="">
        </label>
        <button type="button" class="button-start">Начать</button>
    </div>

    <!--информация об игроке-->
    <div id="player" class="player" style="display: none">
        <h1 class="name"></h1>
        <div class="money">
            <img src="../image/money.png" height="20px">
            <h1 class="count-money">100</h1>
        </div>
        <progress class="lives" max="100" value="40"></progress>
        <progress class="shield" style="display: none"></progress>
    </div>

    <!--инвентарь-->
    <div class="modal" id="inventory" style="display: none">
        <h1 class="name-game"></h1>
        <div class="inventory"></div>
    </div>
    <img src="../image/inventory.png" class="inventoryImg" style="display: none">

    <!--карта-->
    <div id="map" class="field" style="display: none">
    </div>

    <!--модальное окно с первоначальным набором карт-->
    <!--модальное окно с "сундуком"-->
    <div class="modal" id="set-cards" style="display: none">
        <h1 class="name-game"></h1>
        <div class="set-cards"></div>
    </div>

    <!--модальное окно с "сундуком"-->
    <div class="modal" id="inventory" style="display: none">
        <h1 class="name-game">Инвентарь</h1>
        <div class="set-cards"></div>
    </div>

    <!--модальное окно для игры-->
    <div class="modal" id="game" style="display: none">

    </div>

    <!--шаблоны-->
    <div class="templates">
        <div class="card" id="cardTemplate">
            <div class="cardHeader">
                <div class="cardName">Название карты</div>
            </div>
            <div class="cardBody">
                <div class="cardImage">
                    <img/>
                </div>
                <div class="cardDescriptions">
                    <div class="descriptions">Описание способности 2</div>
                    <div class="money">
                        <img src="../image/money.png" height="15">
                        <div>100</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="../scripts/get-window-size.js" type="module"></script>
<script src="../scripts/start.js" type="module"></script>
<script src="../scripts/Player.js" type="module"></script>
<script src="../scripts/Card.js" type="module"></script>
<script src="../scripts/CardView.js" type="module"></script>
<script src="../scripts/SetCardsView.js" type="module"></script>
<script src="../scripts/InventoryView.js" type="module"></script>
</body>
</html>