.browser {
    display: flex;
    justify-content: center;

}
.window{
    width: 680px;
    height: 420px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.carts{
    width: 75%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.cart{
    width: 40%;
    height: auto;
    background-color: black;
    border: 2px solid mediumvioletred;
}

.button-add{
    width: 25%;
    background: transparent;
    border: transparent;
}
