* {
    font-family: 'Pangolin', cursive;
    color: rgba(45, 45, 45, 0.88);
    text-align: center;
}


.button-start{
    width: 25%;
    background: transparent;
    border: none;
    font-size: 3vw;
}

.name{
    border: none;
    border-bottom: 1px solid #9a9a9a;
    background-color: transparent;
    color: inherit;
    font-size: 2vw;

}

.name-game{
    width: 60%;
    font-size: 5vw;
}