.carts{
    width: 85%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.cart{
    width: 150px;
    height: 200px;
    background-color: black;
    border: 2px solid mediumvioletred;
}

.button-add{
    width: 50%;
    background: transparent;
    border: none;
}

.opponents{
    width: 10%;
    height: 10%;
}

.games{
    width: 30%;
    height: 30%;
}

.players{
    width: 50%;
    height: 50%;
}

.opponent{

}