.button-start{
    width: 25%;
    background: transparent;
    border: none;
    margin-bottom: 25px;
}

.name{
    text-align: center;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: inherit;
    outline: none;
}