* {
    font-family: 'Pangolin', cursive;
    color: rgba(79, 79, 79, 0.88);
}

.window {
    position: fixed;
    top: 0;
    left: 0;
    height: 864px;
    width: 1536px;


    background-color: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("../image/background.png");
}

