.button-start{
    width: 25%;
    background: transparent;
    border: none;
    font-size: 3vw;
    text-align: center;
}

.field .name{
    border: none;
    border-bottom: 1px solid #9a9a9a;
    background-color: transparent;
    color: inherit;
    font-size: 2vw;
    text-align: center;
}

.name-game{
    width: 60%;
    font-size: 5vw;
    text-align: center;
}