.enemyPic{
    width: 160px;
    height: 205px;
    display: block;
    margin: auto auto;
}
.enemyPicBlock {
    width: 180px;
    height: 230px;
    display: flex;
    position: absolute;
    top: 2%;
    right: 5%;
    background-image: url("../image/enemyBack.png");
    background-size: 100% 100%;
    background-position: center;
}
/*.enemyCardsBlock {
    width: 200px;
    height: 250px;
    position: absolute;
    top: 2%;
    left: 5%;
}
*/
.enemyCardsBlock{
    position: absolute;
    width: 45%;
    height: 160px;
    top: 12.5%;
    left: 27.5%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    /* Это вертикальный скролл
     overflow: auto;*/
    /*это горизонтальный*/
    grid-auto-flow: column;
    overflow-x: auto;
}
.arenaField{
    position: absolute;
    width:160px;
    height: 240px;
    top: 31.5%;
    display: block;
    background-size: 100% 100%;
    overflow: hidden;
}
.playerZone{
    position: absolute;
    width: 45%;
    height: 33%;
    bottom: 4%;
    left: 27.5%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    /* Это вертикальный скролл
     overflow: auto;*/
    /*это горизонтальный*/
    grid-auto-flow: column;
    overflow-x: auto;
}
/*Убирает слайдбар*/
.playerZone::-webkit-scrollbar {
    display: none;
    width: 0;
}
.enemyCardsBlock::-webkit-scrollbar {
    display: none;
    width: 0;
}